@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.ld-About-body{
    width: screen;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C2414 ;
    padding-block: 40px  ;
}

.ld-About-box{
    width: 100%;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}


/* image section start */
.ld-About-img{
    width: 500px;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

@media (max-width: 750px){
    .ld-About-img{width: 90%;}
}
@media (max-width: 450px){
    .ld-About-img{width: 95%;}
}
.ld-About-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}
@media (max-width: 750px){
    .ld-About-img img{object-fit: contain;}
}

/* image section end */

/* content section start */

.ld-About-content{
    width: 700px;
    height: static;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start ;
    gap: 20px;
}

@media (max-width: 750px){
    .ld-About-content{width: 90%;}
}
@media (max-width: 450px){
    .ld-About-content{width: 95%;}
}
@media (max-width: 450px){
    .ld-About-content{width: 90%;}
}

.ld-About-content-heading-Logo{
    width: 60%;
    height: static;
    font-family: Raleway;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 0%;
}
@media (max-width: 1430px){
    .ld-About-content-heading-Logo{width: 100%;}
}

.ld-About-content-heading-Logo span{
    color:#ED1651;
}

.ld-About-content-para1{
    width: 100%;
    height: static;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.06px;
    letter-spacing: 5%;
    text-align: justify;

}

.ld-About-content-para2{
    width: 100%;
    height: static;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.06px;
    letter-spacing: 5%;
    text-align: justify;

}

.ld-About-content-para3{
    width: 100%;
    height: static;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.06px;
    letter-spacing: 5%;
    text-align: justify;

}

/* content section end*/