.is-needs-body{
    width: screen;
    height: static;
    padding-block: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.is-needs-box{
    position: relative;
    width: 1200px;
    max-width: 90%;
    height: static;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
}
@media (max-width: 1280px){.is-needs-box{align-items: center;}}

.is-needs-heading{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 40px;
    text-align: start;
    height: static;
}


.is-needs-content{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (max-width: 1280px){.is-needs-content{justify-content: center;}}


.is-needs-body img{
    position: absolute;
    width: screen;
    height: static;
    margin-left: 500px;
}
@media (max-width: 1280px){.is-needs-body img{margin-left: 0px; opacity: 0.6;}}
@media (max-width: 420px){.is-needs-body img{display: none;}}

.is-needs-para{
    height: static;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    z-index: 100000;
}

.is-needs-para1{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: start;
    
}